html {
    background-color: #2a3846;
}

/* SIDEBAR */
#sidebar {
    min-height: 100vh;
    width: 250px;
    background-color: #2a3846;
    overflow-x: hidden;
    visibility: visible;
    float: left;
    z-index: -1;
}

#sidebar-title {
    width: 250px;
    height: 50px;
    background-color: rgb(75, 131, 133);
    text-align: center;
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#sidebar-title h4 {
    line-height: 50px;
    margin: 0px;
}

#sidebar-btn {
    line-height: 50px;
    padding: 0px 15px;
    cursor: pointer;
}

/* MAINBAR */
#sidebar-btn:hover {
    background-color: rgb(75, 131, 133);
}

.mainbar-marginLeft {
    margin-left: 0px !important;
    width: 100% !important;
}

#mainbar {
    min-height: 100vh;
    transition: width .5s, margin-left .5s;
    width: calc(100% - 250px);
    margin-left: 250px;
    top: 0px;
    position: absolute;
}

/* NAVBAR */
#navbar {
    height: 50px;
    width: 100%;
    background-color: cadetblue;
    color: white;
}


/* Page or Dashboard Content */
#page-content {
    width: 100%;
    background-color: #d3e4ea;
    min-height: calc(100vh - 50px);
    z-index: -1;
}

/* NOTIFICATIONS */
#notifications {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#notificationIconRow {
    float: right;
}

#notificationsDropdowns {
    margin-top: 50px;
    width: 200px;
    background-color: #b8dad5;
    padding: 5px;
    font-size: small;
    border-bottom-left-radius: 5px;
    visibility: hidden;
}

.notificationsVisible {
    visibility: visible !important;
}

.notificationIcon {
    line-height: 50px;
    padding: 0px 16px;
    cursor: pointer;
}

.notificationIcon:hover {
    background-color: rgb(75, 131, 133);
}

/* TAB/Submenu related css. Sidebar and Page-content related */
.tab {
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.tab:hover .tabHighlight {
    height: 100%;
    width: 3px;
    background-color: cadetblue;
    float: left;
}

.tabLabel {
    width: 100%;
    line-height: 40px;
    color: white;
    padding-left: 15px;
}

.tab:hover .tabLabel {
    width: calc(100% - 3px);
    height: 100%;
    background-color: #1b252f;
    float: left;
}

.tabIcon {
    padding-right: 15px;
}

.tabSelected .tabHighlight {
    height: 100%;
    width: 3px;
    background-color: cadetblue;
    float: left;
}

.tabSelected .tabLabel {
    width: calc(100% - 3px);
    height: 100%;
    background-color: #1b252f;
    float: left;
}

.tabContent {
    display: none;
    width: 100%;
    padding: 10px;
}

.contentSelected {
    display: block;
}

.submenu {
    background-color: #36495d;
    color: #cbd6e0;
    font-size: 14px;
    cursor: pointer;
}

.submenuItem {
    padding: 2px 15px 2px 25px;
}

.submenuItem:hover {
    color: white;
    background-color: #42566b;
}

.submenuTabIcon {
    float: right;
    line-height: 40px;
    padding-right: 15px;
}

.submenuItemSelected {
    color: white;
    background-color: #42566b;
}

.row {
    width: 100%;
    margin: 0px;
}

.card-header {
    background-color: cadetblue;
}

.card-tabs .nav-item {
    cursor: default;
}

.documentation {
    width: 900px;
}

#viewData-table button {
    background-color: rgba(0,0,0,0);
}

#viewData-table .dash-fixed-content {
    width: 100%;
}

#thermograph-display {
    padding: 5px;
    background-color: #bdd7d8;
    max-height: 200px;
    border-radius: 5px;
}

#controls {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #445465;
}

#metric_thermographs {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(75, 131, 133);
}